@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 308px;
  width: 280px;
  background-color: #fafafa;
  margin: 0 auto;
  & svg {
      position: absolute;
      padding: 0 145px 240px 0;
      z-index: 0;
  }
  &__lines {
    width: 180px;
    background: repeating-linear-gradient(#fafafa00, #fafafa00 31px, #E1E1E1 32px);
    // background: repeating-linear-gradient(#fafafa, #fafafa 31px, black 32px);
    background-color: #fafafa00;
    z-index: 1;
    & .text {
      display: flex;
      align-items: flex-end;
      font-family: "DM Sans";
      font-weight: 500;
      font-size: 12px;
      line-height: 32px;
      text-align: center;
      align-items: flex-end;
      & p {
        width: 157px;
        margin: 0 0 7px 0;
        color: #000;
      }
    }
  }
}
